body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('my.jpg');
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    animation: fadeIn 0.5s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  input[type="text"],
  button {
    padding: 10px;
    margin-bottom: 20px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  input[type="text"]:focus,
  button:hover {
    outline: none;
    border-color: #4CAF50;
  }
  
  input[type="text"] {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #habitList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .habitItem {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: calc(33.33% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .habitItem:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .daysContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .day {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .day.checked {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
  }
  
  .progressBar {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .progressFill {
    height: 100%;
    width: 0;
    background-color: #4CAF50;
    border-radius: 5px;
    transition: width 0.3s ease;
  }
  
  .streak {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .resetBtn {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
  }
  
  .resetBtn:hover {
    background-color: #d32f2f;
  }
  